* text=auto

*.java text
*.properties text
*.js text
*.zst text
*.zest text
*.txt text
*.md text
*.ucls text
*.gradle text

javax.script.ScriptEngineFactory text

*.bat text eol=crlf
*.sh text eol=lf
gradlew text eol=lf

*.jar binary
*.png binary
*.jpg binary